# Terraform variables and secrets
terraform/*.tfvars
terraform/*.tfvars.json
!terraform/*.tfvars.example

# Terraform state files
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/.terraform.tfstate.lock.info

# Terraform directory
terraform/.terraform/

# Server secrets and executables
/server/secrets
/server/*.exe